---
layout: default
suppress_header: true
oneTrustTest: true
noindex: true
disable_default_styles: true
disable_handbook_styles: true
extra_css:
  - localized-home.css

---

.container.slp-container.u-padding-top-md
  This page is a test. For more information please ask the <a href="https://about.gitlab.com/handbook/marketing/marketing-operations/">Marketing Operations Team</a>


  .gitlab-content-container.padding-top0
    #disqus_thread
      :javascript
        var disqus_shortname = 'gitlab'; // required: replace example with your forum shortname
        //var disqus_developer = 1;
        var disqus_identifier = disqus_identifier ? disqus_identifier : '#{data.site.url}#{current_page.url}';
        var disqus_url = '#{data.site.url}#{current_page.url}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();


%noscript
  Please enable JavaScript to view the
  %a{:href => "“https://disqus.com/?ref_noscript”"} comments powered by Disqus.
